
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Password changed</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

     
   
        <div class="ellipse-1">
            <img src="{% static 'images/Ellipse1.svg' %}" >
        </div>
            <div class="acc-container">
                <img src="{% static 'images/Group 237.svg' %}" alt="">
                <p>Password Changed Successfully</p>
                <a href="/login"><input type="button"  id="btn" value="Login Now" class="login-btn"></a>
            </div>
        <div class="ellipse-2">
            <img src="{% static 'images/Ellipse2.svg' %}" >
        </div>
    
    
</body>
</html>