
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

     
    <div class="parent">
        <div class="rectangle">
           <div class="ellipse1">
                <img src="{% static 'images/Ellipse1.svg' %}" >
                </div>
           
                 <div class="ellipse2">
                <img src="{% static 'images/Ellipse2.svg' %}" >
                </div> 
              <div class="loginContainer">
                <div class="photo">
                    <img src="{% static 'images/Group 24.svg' %}" >
                </div>
                   <div class="login" style="padding: 37px 40px;">
                        <p >Forgot Your Password</p>
                        <img src="{% static 'images/Rectangle 12 .svg' %}" class="line">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-container">
                               <input type="email"  id="email" name="email" placeholder="Registered Email Address">
                               <img src="{% static 'images/Group 29.svg' %}" style=" position: absolute;
                               right: 42px;
                               top: 132px;
                               z-index: 1;">
                            </div>
                            <!-- <a href="new_password.html"><input type="button"  id="btn" value="Send Email" class="btn-submit"></a> -->
                            <button class="btn-submit" type="submit">Send email</button>
                            <p style="font-size: 11px; color: gray;">Check your link.Your link has been sent to inbox.</p>
                            <p style="font-size: 11px; color:orange"> <u>Resend mail</u> </p>
                        </form>
                    </div>

               </div>
               <div class="text-container">
                <h2 >Don’t Have An Account?</h2>
                <p >If you dont have an account,then register with us.</p>
                <a href="/register"><input type="submit" value="Register your Account" ></a>
               </div>
               
        </div>
    </div>
    
</body>
</html>