<!-- <!DOCTYPE html>
<html>
  <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        {% include 'messages.html' %}
        {% block content %}  
        {% load crispy_forms_tags %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/homepage">Digi-Card</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/card">Card</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>    
        
                {% else %}
        
                    <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                    </li>
        
                {% endif %}
            </ul>
            </div>
            
        </nav> 
    
        {% endblock %} 
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Reset Password</h2>
         <hr>
         <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
         <form method="POST">
             {% csrf_token %}
             {{ password_reset_form|crispy }}                    
             <button class="btn btn-primary" type="submit">Send email</button>
         </form>
       </div> 
        
    </body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

     
    <div class="parent">
        <div class="rectangle">
           <div class="ellipse1">
                <img src="{% static 'images/Ellipse1.svg' %}" >
                </div>
           
                 <div class="ellipse2">
                <img src="{% static 'images/Ellipse2.svg' %}" >
                </div> 
              <div class="loginContainer">
                <div class="photo">
                    <img src="{% static 'images/Group 24.svg' %}" >
                </div>
                   <div class="login" style="padding: 37px 40px;">
                        <p >Forgot Your Password</p>
                        <img src="{% static 'images/Rectangle 12 .svg' %}" class="line">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-container">
                               <input type="email"  id="email" name="email" placeholder="Registered Email Address">
                               <img src="{% static 'images/Group 29.svg' %}" style=" position: absolute;
                               right: 42px;
                               top: 132px;
                               z-index: 1;">
                            </div>
                            <!-- <a href="new_password.html"><input type="button"  id="btn" value="Send Email" class="btn-submit"></a> -->
                            <button class="btn-submit" type="submit">Send email</button>
                            <p style="font-size: 11px; color: gray;">Check your link.Your link has been sent to inbox.</p>
                            <p style="font-size: 11px; color:orange"> <u>Resend mail</u> </p>
                        </form>
                    </div>

               </div>
               <div class="text-container">
                <h2 >Don’t Have An Account?</h2>
                <p >If you dont have an account,then register with us.</p>
                <a href="/register"><input type="submit" value="Register your Account" ></a>
               </div>
               
        </div>
    </div>
    
</body>
</html>