{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Card Details</title>
</head>
<body>
  <div class="parent">
    <div class="menu">
      <div style="margin: 5px 0px 30px 5px; width: 200px;" >
        <a href="/" style="text-decoration: none; color: #fff;"><img src="{% static 'images/Group 37.svg' %}" alt="logo" > <label style="color: #fff; font-size: 18px; font-family: 'poppins'; position: relative; top: -7px">Quick Share</label></a>
      </div>
     <ul>
      <li> <img src="{% static 'images/Vector (2).svg' %}" alt=""><label><a href="/" style="text-decoration: none; color: #fff;">Cards</a></label> </li>
      <li> <img src="{% static 'images/Group (1).svg' %}" alt="" ><label>Contact</label> </li>
      <li> <img src="{% static 'images/Vector (3).svg' %}" alt="" ><label>Background</label> </li>
      <li> <img src="{% static 'images/Vector (4).svg' %}" alt="" ><label>Email Signature</label> </li>
      <li> <img src="{% static 'images/Vector (5).svg' %}" alt="" ><label> <a href="/setting" style="text-decoration: none; color: #fff;">Settings</a></label> </li>
      </ul>    
      <div class="icons-bottom" >
        <img src="{% static 'images/Group 47.svg' %}" alt="" class="logout-image"><label class="logout-text"><a href="/logout" style="text-decoration: none; color: #fff;">Log Out</a></label>
      </div>
  </div>
    <div class="nav">
      <a href="javascript:history.back()">
      <img src="{% static 'images/Vector (7).svg' %}" alt="" class="arrow"></a>
      <span>Your cards/Work</span> 
      {% include 'messages.html' %}
    </div>
    
    <div class="nav-side">
      <div class="nav-side-div">
        <label for="" style="font-size: 20px;">{{user.username}}</label> <br>
        
      </div>
     
    </div>
    <div class="main-card">
        <div class="card">
            
              <div class="card-photo">
                {% if x.upload %}
                <img src={{x.upload.url}} alt="">
                {% endif %}
              </div> 
            
            <div class="elements">
                <h2 style="margin-bottom: 0;">{{x.fullname}} </h2>
                <p style="margin-top: 5px;">{{x.department}} at {{x.company}}</p>
                <p style="margin-top: 0;"><span><img src="{% static 'images/Vector (12).svg' %}" alt=""></span> {{x.phone}}</p>
                <p style="margin-top: 0;"> <span><img src="{% static 'images/Vector (13).svg' %}" alt=""></span> {{x.email}}</p>
                <div>
                   <a href="{% url 'main:update' x.id %}"> <button style="margin-right: 7%;"><img src="{% static 'images/Vector (17).svg' %}" alt=""> <span>Update</span></button></a>
                  <button onclick="showDeleteModal()"><img src="{% static 'images/Vector (18).svg' %}" alt="" > <span>Delete</span></button>
                </div>
            </div>
        </div>
        <img src="{% static 'images/Group 105.svg' %}" >
        <input type="checkbox" name="chkQRPopup" id="chkQRPopup" style="display: none;">
        <div class="qr-div">
            <div class="qr-div-img">
              commnets
              {% if x.qr_code %}
                <img src="/{{x.qr_code}}">
                
               {% endif %} 
               comm
               <img src="data:image/png;base64,{{ qr_code }}" alt="QR code">

            </div>
            <div>
                <p class="p-text">Scan QR code to Save Contact. </p>
                <p style="    text-align: center;
                font-family: 'K2D';
                font-weight: 600;
                color: orangered; cursor: pointer;"> <u><label style="cursor: pointer; " for="chkQRPopup" >Send Via</label></u> <img src="{% static 'images/Vector (19).svg' %}" alt=""> </p>
            </div>
        </div>
       
        <form class="email" method="POST" action="{% url 'main:send' x.id %}">
          <p id="p1">Email your personal Card to</p>
          {% csrf_token %}
          <input type="text" name="name" placeholder="Name">
          <img src="{% static 'images/Vector (9).svg' %}" alt="" style="height: 14px;
          position: absolute;
          top: 209px;
          right: 508px;">
          <input type="email"  name="email" placeholder="Email" style="width: 93%;">
          <img src="{% static 'images/Group 29.svg' %}" alt="" style="height: 14px;
          position: absolute;
          top: 263px;
          right: 508px;">
          <textarea  id="message" cols="30" rows="5" placeholder="Message" name="message"></textarea>
          <input type="Submit" placeholder="Submit">
          <p id="p2">or share with</p>
          <div id="socialicons">
          <img src="{% static 'images/whatsapp.svg' %}" alt="">
          <img src="{% static 'images/facebook.svg' %}" alt="">
          <img src="{% static 'images/linkedin.svg' %}" alt="">
          <label for="chkQRPopup"><img src="{% static 'images/qrcode.svg' %}" alt="" style="margin-top: 11px;"></label>
          </form>
      
        </div>
    </div>
   
    <div id="delete-modal">
      <div class="delete">
          <p style="    font-size: 23px;
          margin-bottom: 0;">Are you sure you want </p>
          <p style="    font-size: 23px;
          margin-top: 0;">to delete your card?</p>
          <div>
             <a href="{% url 'main:delete' x.id %}"> <input type="submit" value="Yes,Delete" class="btn-save" style="padding: 7px 7px;"></a>
              <input type="reset" onclick="hideDeleteModal()" value="Cancel " class="btn-clear" style="padding: 7px 7px;">
          </div>
      </div>
    </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  function showDeleteModal() {
    let modal = document.getElementById("delete-modal")
    modal.style.top = "0"
  }
  function hideDeleteModal() {
    let modal = document.getElementById("delete-modal")
    modal.style.top = "-100%";
  }
  
</script>
<script>
  $(document).ready(function(){
  setTimeout(function() {
    $('.alert').fadeOut('slow');
  }, 5000); 
});
</script>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Quickshare | Card</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <main>
        <input type="checkbox" name="chkTogleMenu" id="chkTogleMenu">
        <section class="sidebar">
            <ul>
                <li><a href="/homepage" class="decor-sidebar"><img src="{% static 'images/logo_icon.svg' %}" alt="logo"></a> </li>
                <li><a href="/homepage" class="decor-sidebar"><img src="{% static 'images/card_icon.svg' %}" alt="card_icon"> Cards</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/contact_icon.svg' %}" alt="contact_icon"> Contacts</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/background_icon.svg' %}" alt="background_icon"> Backgrounds</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/email_icon.svg' %}" alt="email_icon"> Email Signatures</a></li>
                <li><a href="/setting" class="decor-sidebar"><img src="{% static 'images/setting_icon.svg' %}" alt="setting_icon"> Setting</a></li>
                <li><label for="chkTogleMenu"><img src="{% static 'images/toggle.svg' %}" alt="setting_icon" style="filter: invert(1);"> Toggle Menu</label></li>
                <li class="logout-sidebar" ><a href="/logout" class="decor-sidebar"><img src="{% static 'images/logout_icon.svg' %}" alt="logout"> Logout</a></li>
              </ul>

        </section>
        <section class="content">
            <nav>
                <div class="menu-icon">
                    <label for="chkTogleMenu">
                        <img src="{% static 'images/menu.svg' %}" alt="">
                    </label>
                </div>
                <label>Archita THE GREAT</label>
            </nav>
            <label class="notify">{% include 'messages.html' %}</label>
            <div class="container-fluid p-3">
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="chkToggleCardMobile" id="chkToggleCardMobile" class="d-none">
                    <input type="checkbox" name="chkToggleCard" id="chkToggleCard" class="d-none">
                    <div class="info-card" id="info-card">
                        <div class="card-top">
                            <div class="box2">
                                {% if x.upload %}
                                <label for="upload"><img src={{x.upload.url}} alt="" style="width: 100%;"></label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 card-info">
                                    <h2>{{x.fullname}}</h2>
                                    <p> <b>{{x.department}} at {{x.company}}</b> </p>
                                    <p><img src="{% static 'images/phone_card.svg' %}" alt="">{{x.phone}}</p>
                                    <p><img src="{% static 'images/email_card.svg' %}" alt="">{{x.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center mb-2">
                                    <a href="{% url 'main:update' x.id %}">
                                        <button type="button" class="btn btn-default btn-circle">
                                            <img src="{% static 'images/edit_icon.svg' %}" alt="">
                                            <span>Update</span>
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-default btn-circle" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                        <img src="{% static 'images/delete_card_icon.svg' %}" alt="">
                                        <span>Delete</span>
                                    </button>
                                    <label for="chkToggleCardMobile" class="qrimg">
                                        <img src="{% static 'images/qrcode_icon.svg' %}" alt="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrow-img">
                        <img src="{% static 'images/arrow.svg' %}" alt="">
                    </div>
                    <div class="qr-container" id="qrcode">
                        <img src="data:image/png;base64,{{ qr_code }}" alt="QR code">
                        <p>Scan QR code to save contact</p>
                        <label for="chkToggleCard" class="mb-1">
                            Share Via<img src="{% static 'images/arrow_redirect.svg' %}" alt="">
                        </label> <br>
                        <label for="chkToggleCardMobile" id="back">
                            <img src="{% static 'images/back.svg' %}" alt=""> Back
                        </label>
                    </div>
                    <div class="qr-container" id="email">
                        <h6>Email your personal card</h6>
                        <form class="email" method="POST" action="{% url 'main:send' x.id %}">
                            {% csrf_token %}
                            <div class="position-relative mb-1">
                                <input type="text" id="fullname" name="name" placeholder="Full name" maxlength="32"
                                    class="textbox">
                                <img src="{% static 'images/username.svg' %}" alt="fullname">
                            </div>
                            <div class="position-relative mb-1">
                                <input type="text" id="email" name="email" placeholder="Email" maxlength="32"
                                    class="textbox">
                                <img src="{% static 'images/email_add.svg' %}" alt="email">
                            </div>
                            <div class="position-relative mb-1">
                                <textarea class="form-control textbox" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Message" name="message"></textarea>
                            </div>
                            <div class="position-relative mt-2 mb-2">
                                <input type="Submit" class="btn btn-save" placeholder="Submit">
                            </div>
                        </form>
                        <div class="position-relative mt-2 mb-2">
                            <label class="mb-1">Share with</label>
                            <ul>
                                <li>
                                    <img src="{% static 'images/whatsapp.svg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/facebook.svg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/linkedin.svg' %}" alt="">
                                </li>
                                <li>
                                    <label for="chkToggleCard">
                                        <img src="{% static 'images/qrcode.svg' %}" alt="">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Are you sure you want to Delete your Account?</h2>
                <a href="{% url 'main:delete' x.id %}"><button type="button"
                        class="btn btn-save">Yes,Delete</button></a>
                <button type="button" class="btn btn-clear" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
    version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
    </defs>
</svg>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 5000);
    });
</script>

</html>