
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Card Details</title>
</head>
<body>
  <div class="parent">
    
   
    
    
    <div style="padding: 89px 551px;">
        <div class="card">
            
              <div class="card-photo">
                {% if mydata.upload %}
                <img src={{mydata.upload.url}} alt="">
                {% endif %}
              </div> 
            
            <div class="elements">
                <h2 style="margin-bottom: 0;">{{mydata.fullname}} </h2>
                <p style="margin-top: 5px;">{{mydata.department}} at {{mydata.company}}</p>
                <p style="margin-top: 0;"><span><img src="{% static 'images/Vector (12).svg' %}" alt=""></span> {{mydata.phone}}</p>
                <p style="margin-top: 0;"> <span><img src="{% static 'images/Vector (13).svg' %}" alt=""></span> {{mydata.email}}</p>
                <div>
                  <a href="{% url 'main:qr_card' mydata.id %}" > <button style="margin-right: 7%;"><img src="{% static 'images/Vector (17).svg' %}" alt=""> <span>Save</span></button></a>
                  <a href="{% url 'main:sendmailqr' mydata.id %}" ><button ><img src="{% static 'images/Vector (18).svg' %}" alt="" > <span>Send</span></button></a>
                </div>
            </div>
        </div>
        
        
   
    
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</html>