<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap CSS-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      {% include 'messages.html' %}
      {% load crispy_forms_tags %}  
    
      
      {% if mydata %}
    
      <div class="container mt-5">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="card mt-2 border" style="width:300px;">
                {% if mydata.upload %}
                <img class="card-img-top" src={{mydata.upload.url}} style="width:100% ; height:50%">
                <!--  -->
                {% endif %}
                  <div class="card-body">
                    <h4 class="card-title">{{mydata.firstname}} {{mydata.middlename}} {{mydata.lastname}}</h4>
                    <p class="card-text">{{mydata.title}},{{mydata.department}},{{mydata.company}}</p>
                    <p class="card-text">Ph:{{mydata.phone}}</p>
                    <a href="{% url 'main:qr_card' mydata.id %}" class="btn btn-primary">Save card</a>
                    <a href="{% url 'main:send' mydata.id %}" class="btn btn-secondary">Send Card</a>
                   
                  </div>
              </div>
            </div>
            <!-- <div class="col-sm">
              <h2>Scan Using QR</h2>
              <img class="card-img-top" src= alt="Card image" style="width:50%;height:50%;">
            </div> -->
          </div>
        </div>
      </div>
     
      {% else %}
      <div class="container mt-5">
        <h1>No Card Available</h1>
      </div>
      {% endif%}
     
    <!-- Optional Javascript -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>