{% load static %}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Card Details</title>
</head>
<body>
  <div class="parent">
    
   
    
    
    <div style="padding: 89px 551px;">
        <div class="card">
            
              <div class="card-photo">
                {% if mydata.upload %}
                <img src={{mydata.upload.url}} alt="">
                {% endif %}
              </div> 
            
            <div class="elements">
                <h2 style="margin-bottom: 0;">{{mydata.fullname}} </h2>
                <p style="margin-top: 5px;">{{mydata.department}} at {{mydata.company}}</p>
                <p style="margin-top: 0;"><span><img src="{% static 'images/Vector (12).svg' %}" alt=""></span> {{mydata.phone}}</p>
                <p style="margin-top: 0;"> <span><img src="{% static 'images/Vector (13).svg' %}" alt=""></span> {{mydata.email}}</p>
                <div>
                  <a href="{% url 'main:qr_card' mydata.id %}" > <button style="margin-right: 7%;"><img src="{% static 'images/Vector (17).svg' %}" alt=""> <span>Save</span></button></a>
                  <a href="{% url 'main:sendmailqr' mydata.id %}" ><button ><img src="{% static 'images/Vector (18).svg' %}" alt="" > <span>Send</span></button></a>
                </div>
            </div>
        </div>
        
        
   
    
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Quickshare | Card</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="qrcode-div">
        <div class="info-card" id="info-card">
            <div class="card-top">
                <div class="box2">
                    {% if mydata.upload %}
                    <label for="upload"><img src={{mydata.upload.url}} alt="" style="width: 100%;"></label>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 card-info">
                        <h2>{{mydata.fullname}}</h2>
                        <p> <b>{{mydata.department}} at {{mydata.company}}</b> </p>
                        <p><img src="{% static 'images/phone_card.svg' %}" alt="">{{mydata.phone}}</p>
                        <p><img src="{% static 'images/email_card.svg' %}" alt="">{{mydata.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mb-2">
                        <a href="{% url 'main:qr_card' mydata.id %}">
                            <button type="button" class="btn btn-default btn-circle">
                                <img src="{% static 'images/save.svg' %}" alt="">
                                <span>Save</span>
                            </button>
                        </a>
                        <button type="button" class="btn btn-default btn-circle" data-bs-toggle="modal"
                            data-bs-target="#emailModal">
                            <img src="{% static 'images/send.svg' %}" alt="">
                            <span>Send</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
        version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                    result="goo" />
                <feComposite in="SourceGraphic" in2="goo" operator="atop" />
            </filter>
        </defs>
    </svg>

    <div class="modal fade" id="emailModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content align-items-center" style="background-color: transparent;border: none;">
                <div class="modal-body">
                    <div class="qr-container d-block" id="email">
                        <h6>Email your personal card</h6>
                        <form class="email" method="POST" action="{% url 'main:sendmail' mydata.id %}">
                            {% csrf_token %}
                            <div class="position-relative mb-1">
                                <input type="text" id="fullname" name="name" placeholder="Full name" maxlength="32"
                                    class="textbox">
                                <img src="{% static 'images/username.svg' %}" alt="fullname">
                            </div>
                            <div class="position-relative mb-1">
                                <input type="text" id="email" name="email" placeholder="Email" maxlength="32"
                                    class="textbox">
                                <img src="{% static 'images/email_add.svg' %}" alt="email">
                            </div>
                            <div class="position-relative mb-1">
                                <textarea class="form-control textbox" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Message" name="message"></textarea>
                            </div>
                            <div class="position-relative mt-2 mb-2">
                                <input type="Submit" class="btn btn-save" placeholder="Submit">
                            </div>
                        </form>
                        <div class="position-relative mt-2 mb-2">
                            <label class="mb-1">Share with</label>
                            <ul>
                                <li>
                                    <img src="{% static 'images/whatsapp.svg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/facebook.svg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/linkedin.svg' %}" alt="">
                                </li>
                                <li>
                                    <label for="chkToggleCard">
                                        <img src="{% static 'images/qrcode.svg' %}" alt="">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>