
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Quickshare | Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="parent">
        {% include 'messages.html' %}
        <div class="rectangle">
            <div class="ellipse1">
                <img src="{% static 'images/Ellipse1.svg' %}" >
            </div>
           
            <div class="ellipse2">
                <img src="{% static 'images/Ellipse2.svg' %}" >
            </div> 
            <div class="loginContainer">
                <div class="text-container-reg">
                    <h2 >Already Have An Account?</h2>
                    <p >If you already have an account, then Log in.</p>
                    <a href="/login"><input type="submit" value="Login your Account" ></a>
                </div>
                <div class="register">
                    <p>Register Your Account
                    </p>
                    <img src="{% static 'images/Rectangle 12 .svg' %}" class="line">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-container">
                       
                        <div>
                            <input type="text"  id="username" placeholder="Username" name="username" style="margin-top: 20px;" maxlength="32">
                            <img src="{% static 'images/Vector (9).svg' %}" style="    position: absolute;
                            right: 38px;
                            top: 165px;
                            z-index: 1;">
                        </div>
                        <div>
                            <input type="email" name="email" id="email" placeholder="Email Address" maxlength="50">
                            <img src="{% static 'images/Group 29.svg' %}" style="    position: absolute;
                            right: 38px;
                            top: 225px;
                            z-index: 1;">
                        </div>
                        <div>
                            <input type="password" id="password1" name="password1" placeholder="Password" maxlength="32">
                            <img id="password-img" src="{% static 'images/password_close.svg' %}"  onclick="passwordToggle(this.id, 'password1')" style="   position: absolute;
                            right: 38px;
                            top: 289px;
                            z-index: 1;">
                        </div>
                        <div>
                            <input type="password" id="password2" name="password2" placeholder="Confirm Password" maxlength="32">
                            <img id="password-img1" src="{% static 'images/password_close.svg' %}"  onclick="passwordToggle(this.id, 'password2')" style="   position: absolute;
                            right: 38px;
                            top: 350px;
                            z-index: 1;">
                        </div>
                        </div>                    
                    
                        
                        <button class="btn-submit" type="submit">Register</button>
                </form>
              </div>
              
            </div>
            <div class="photo-reg">
                <img src="{% static 'images/Group 24.svg' %}" >
            </div>
        </div>
    </div>
    <script>
        function passwordToggle(imgId, passwordId) {
            let img = document.getElementById(imgId)
            let password = document.getElementById(passwordId)
    
            if (password.type=="password") {
                img.src = "{% static 'images/Vector (1).svg' %}";
                password.type = "text"
            } else {
                img.src = "{% static 'images/password_close.svg' %}";
                password.type = "password"
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        setTimeout(function() {
          $('.alert').fadeOut('slow');
        }, 5000); 
      });
      </script>
</body>
</html>