{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>QuickShare | Cards</title>
</head>
<body>
<div class="parent">
    <div class="menu">
        <div style="margin: 5px 0px 30px 5px; width: 200px;" >
          <a href="/" style="text-decoration: none; color: #fff;"><img src="{% static 'images/Group 37.svg' %}" alt="logo" > <label style="color: #fff; font-size: 18px; font-family: 'poppins'; position: relative; top: -7px">Quick Share</label></a>
        </div>
       <ul>
        <li> <img src="{% static 'images/Vector (2).svg' %}" alt=""><label><a href="/" style="text-decoration: none; color: #fff;">Cards</a></label> </li>
        <li> <img src="{% static 'images/Group (1).svg' %}" alt="" ><label>Contact</label> </li>
        <li> <img src="{% static 'images/Vector (3).svg' %}" alt="" ><label>Background</label> </li>
        <li> <img src="{% static 'images/Vector (4).svg' %}" alt="" ><label>Email Signature</label> </li>
        <li> <img src="{% static 'images/Vector (5).svg' %}" alt="" ><label> <a href="/setting" style="text-decoration: none; color: #fff;">Settings</a></label> </li>
        </ul>    
        <div class="icons-bottom" >
          <img src="{% static 'images/Group 47.svg' %}" alt="" class="logout-image"><label class="logout-text"><a href="/logout" style="text-decoration: none; color: #fff;">Log Out</a></label>
        </div>
    </div> 
    <div class="nav">
      <a href="javascript:history.back()">
      <img src="{% static 'images/Vector (7).svg' %}" alt="" class="arrow"></a>
      <span>Setting</span> 
      {% include 'messages.html' %}
    </div>
    <div class="nav-side">
      <div class="nav-side-div">
        <label for="" style="font-size: 20px;">{{user.username}}</label> <br>
      </div>
    </div>
    <div class="main-setting">
      <h2>Account Settings</h2>
      <div class="inner-setting">
       <a href="/password_reset" style="text-decoration: none; color: black;"> <p><img src="{% static 'images/edit.svg' %}" alt="edit">  Change your password <img src="{% static 'images/redirect.svg' %}" alt="redirect" style="    position: absolute;
          top: 105px;
          right: 27px;"></p></a>
       <p onclick="showDeleteModal()" style="cursor: pointer;"><img src="{% static 'images/delete.svg' %}" alt="delete" >  Delete your account <img src="{% static 'images/redirect.svg' %}" alt="redirect" style="    position: absolute;
          top: 147px; 
          right: 27px;"></p>
      </div>
    </div>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
  $(document).ready(function(){
  setTimeout(function() {
    $('.alert').fadeOut('slow');
  }, 5000); 
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  function showDeleteModal() {
    let modal = document.getElementById("delete-modal")
    modal.style.top = "0"
  }
  function hideDeleteModal() {
    let modal = document.getElementById("delete-modal")
    modal.style.top = "-100%";
  }
  
</script>
<div id="delete-modal">
  <div class="delete">
      <p style="    font-size: 23px;
      margin-bottom: 0;">Are you sure you want </p>
      <p style="    font-size: 23px;
      margin-top: 0;">to delete your account?</p>
      <div>
         <a href="{% url 'main:delete_account' %}"> <input type="submit" value="Yes,Delete" class="btn-save" style="padding: 7px 7px;"></a>
          <input type="reset" onclick="hideDeleteModal()" value="Cancel " class="btn-clear" style="padding: 7px 7px;">
      </div>
  </div>
</div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800&family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Quickshare | Card</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <main>
        <input type="checkbox" name="chkTogleMenu" id="chkTogleMenu">
        <section class="sidebar">
            <ul>
                <li><a href="/homepage" class="decor-sidebar"><img src="{% static 'images/logo_icon.svg' %}"
                            alt="logo"></a> </li>
                <li><a href="/homepage" class="decor-sidebar"><img src="{% static 'images/card_icon.svg' %}"
                            alt="card_icon"> Cards</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/contact_icon.svg' %}"
                            alt="contact_icon"> Contacts</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/background_icon.svg' %}"
                            alt="background_icon"> Backgrounds</a></li>
                <li><a href="/#" class="decor-sidebar"><img src="{% static 'images/email_icon.svg' %}" alt="email_icon">
                        Email Signatures</a></li>
                <li><a href="/setting" class="decor-sidebar"><img src="{% static 'images/setting_icon.svg' %}"
                            alt="setting_icon"> Setting</a></li>
                <li><label for="chkTogleMenu"><img src="{% static 'images/toggle.svg' %}" alt="setting_icon"
                            style="filter: invert(1);"> Toggle Menu</label></li>
                <li class="logout-sidebar" data-bs-toggle="modal" data-bs-target="#logoutModal"><img
                        src="{% static 'images/logout_icon.svg' %}" alt="logout"> Logout</li>
            </ul>

        </section>
        <section class="content">
            <nav>
                <ul>Archita The great Shah</ul>
            </nav>
            <label class="notify">{% include 'messages.html' %}</label>
            <div class="container-fluid p-3">
                <div class="row form-container">
                    <div class="col-md-12 ">
                        <ul class="setting">
                            <li data-bs-toggle="modal" data-bs-target="#passwordModal">
                                <img src="{% static 'images/password_change_setting.svg' %}" alt="password change">
                                <span>Change your Password</span>
                            </li>
                            <li data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <img src="{% static 'images/delete_setting.svg' %}" alt="Delete">
                                <span> Delete your
                                    Account</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Are you sure you want to Delete your Account?</h2>
                    <a href="{% url 'main:delete_account' %}"><button type="button"
                            class="btn btn-save">Yes,Delete</button></a>
                    <button type="button" class="btn btn-clear" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST" action="{% url 'main:change_password' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-12 position-relative ">
                                <div class="login-modal">
                                    <h2 class="login-h2">Set New Password</h2>
                                    <img src="{% static 'images/line.svg' %}" class="rect-line" alt="rect-line">
                                    <div class="position-relative mt-2">
                                        <input type="password" id="password1" name="password1"
                                            placeholder="New Password" maxlength="32" class="textbox">
                                        <img src="{% static 'images/password_open.svg' %}" id="password-img"
                                            alt="password" class="img-div position-absolute"
                                            onclick="passwordToggle(this.id, 'password1')">
                                    </div>
                                    <div class="position-relative">
                                        <input type="password" id="password2" name="password2"
                                            placeholder="Confirm Password" maxlength="32" class="textbox">
                                        <img src="{% static 'images/password_open.svg' %}" id="password-img1"
                                            alt="password" class="img-div position-absolute"
                                            onclick="passwordToggle(this.id, 'password2')">
                                    </div>
                                    <button type="submit" class="btn btn-save mt-2">Change Password</button>

                    </form>
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
    </div>
    </div>


    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Are you sure you want to Logout your Account?</h2>
                    <a href="{% url 'main:logout' %}"><button type="button" class="btn btn-save">Logout</button></a>
                    <button type="button" class="btn btn-clear" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
    function passwordToggle(imgId, passwordId) {
        let img = document.getElementById(imgId)
        let password = document.getElementById(passwordId)

        if (password.type == "password") {
            img.src = "{% static 'images/password_close.svg' %}";
            password.type = "text"
        } else {
            img.src = "{% static 'images/password_open.svg' %}";
            password.type = "password"
        }
    }
</script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 5000);
    });
</script>

</html>