 body{
    padding: 0;
    margin: 0;
    overflow-y: hidden; 
    overflow-x: hidden;
    background-color:rgba(246, 251, 255, 1);
}
.parent{
   padding: 0;
    margin: 0;
    height: 100vh;
} 
.menu{
    position: absolute;
    background: linear-gradient(166.05deg, #E53804,#FE8313);
    height: 100vh;
    width: 40px;
    z-index: 1;
    transition: 0.5s ease;
    overflow: hidden;
}

.menu > ul {
    margin: 0;
    padding: 0;
    width: 200px;
    position: relative;
    list-style-type: none;
}

.menu > ul > li{
    width: 100%;
    margin: 15px 0 15px 12px;
}

.menu > ul > li > img, .logout-image {display:  inline; margin-right: 15px;}
.menu > ul > li > label, .logout-text { color: #FFF; font-family: 'poppins'; position: relative; cursor: pointer; top: -3px; font-size: 14px;}
.menu > ul > li > label:hover, .logout-text:hover { font-weight: 700;}

.nav{
    /* background-image: url('Gradient_nav.svg'); */
    background-image: url('/static/images/Gradient_nav.svg');
    height: 7%;
    width: 100%;
    position: fixed;
    

}
.back-container{
    top : 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 310px;
    background-color: white;
    box-shadow: 0px 6px 11px 0px rgb(26 42 65 / 14%);
    border-radius: 34px;
}

.input-container{
    flex: 33.33%;
    padding: 3rem 0;
    /* left: 398px; */
}

.input-container input{
    outline: none;
    cursor: pointer;
  }
.input-container input ~ img{ cursor: pointer; }
.input-container input:focus ~ img,
.input-container input:hover ~ img,
.input-container input ~ img:hover{
    filter: invert(30%) sepia(70%) saturate(3991%) hue-rotate(4deg) brightness(96%) contrast(95%);
}
.input-container input[type=text],input[type=number],input[type=email]{
    position: relative;
    border-radius: 2px;
    width: 100%;
    margin: 10px;
    padding: 8px;
    width: 80%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(223, 223, 223);
   
}
.main{
    position: absolute;
    top: 16%;
    right: 5%;
    left: 7%;
}
.btn-save{
    background: linear-gradient(45deg, rgba(254, 131, 19, 1), rgba(229, 56, 4, 1));
    border: none;
    color: white;
    padding: 7px 36px;
    border-radius: 5px;
    margin: 11px;

}
.btn-clear{
    background: black;
    border: none;
    color: white;
    padding: 7px 36px;
    border-radius: 5px;
}
.arrow{
    margin-left: 4rem;
    margin-top: 1rem;
}
.nav span{
    color: #FFF;
    position: relative;
    top: -2px;
    left: 5px;
    font-family: 'K2D';
    font-style: normal;
    /* font-weight: 600; */
}

.icons-top{
    margin-top: 1rem;
    margin-left: 12%;
}
.icons{
    margin-top: 2rem;
    margin-left: 20%;
}
.icons-bottom{
    /* margin-top: 12rem;
    margin-left: 20%; */
    margin-left: 10px;
        bottom: 8%;
        position: absolute; width: 200px;
}
.nav-side{
    /* position: absolute; 
    right: 0; 
    display: flex; 
    width: 200px; 
    text-align: right; */
    position: absolute;
    right: 0;
    display: flex;
    margin-top: 6px;
    margin-right: 67px;
}
.nav-side-div{
    color: #fff;
    font-family: 'K2D';
    margin-top:4px;
}
.nav-div{
    padding: 5px;
    width: 50px;
    overflow: hidden;
}
.nav-div img{
    position: relative;
    width: 35px; 
    margin-left: 10px;
}
.card{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    width: fit-content;
    background: white;
    border-radius: 20px;   
    padding-bottom: 13px;
    box-shadow: 0px 12px 31px 0px rgb(26 42 65 / 14%);
    overflow: hidden;
}
.elements{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-photo{
    height: 245px;
    width: 286px;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    transform: rotate(180deg);
}
.card-photo img{
    width: 100%;
    border-radius: 20px 20px;
    transform: rotate(180deg);
}
.elements div{
    display: flex;  
    align-items: center; 
    justify-content: space-evenly;
    justify-items: center;
}

.main-card{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 8%;
}
.qr-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    padding: 25px 0;
    border-radius: 25px;
    box-shadow: 0px 6px 11px 0px rgb(26 42 65 / 14%);
}
.qr-div-img{
    background: white;
    box-shadow: 0px 0px 40px 0px rgb(11 30 45 / 14%);
    align-items: center;
    text-align: center;
    width: 70%;
    padding: 6px;
        
}
.qr-div-img img{
    width: 100%;
    position: relative;
}
.btn-share{
    background: rgba(232, 245, 255, 1);         
    border: none;
    color: orangered;
    padding: 7px 36px;
    border-radius: 5px;
    margin: 11px;
}
.p-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
}
.menu:hover{
    cursor: pointer;
    width: 200px;
}

.main-nocard{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 99px;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
}
.main-nocard span{
    color: #E53804;
}
.main-nocard h3{
    color: lightgray;
    text-align: center;

}

.custom-col{
    height: 215px;
    width: 205px;
    margin: 15px;
    overflow: hidden;
    border-radius: 20px;
    /* box-shadow: 0px 5px 10px #999; */
    display: inline-block;
    position: relative;
    background: white;
}
.custom-col-1
{
    padding: 25px 20px; 
    box-sizing: border-box; 
    box-shadow: 0 0 0 0;
    
}

.btnAddNew{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    cursor: pointer;
    border-radius: 50%;
    border: 1px dashed #333;
    background-color: transparent;
    transform: translate(-50%, -50%);
    display: block;
    position: relative;
}

.card2{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.card-head{
    padding: 0;
    margin: 0;
    height: 80%;
    text-align: center;
    position: relative;
    /* background-color: aqua; */
    transform: rotate(180deg);
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.card-head > img{
    top: 0;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    position: relative;
}

.card-label{
    padding-top: 5px;
    position: relative;
    text-align: center;
    font-family: "K2D";
    color: rgb(2, 2, 2);
    font-weight: 600;
}
.cards{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-items: center;
    padding: 5%; height: 100%;
}
.cards h2{
    font-family: 'K2D';
      font-style: normal;
      font-weight: 600;
}
.cards span{
    font-family: 'K2D';
      font-style: normal;
      font-weight: 600;
}
.add-new{
    position: relative; 
    height: 100%; 
    border-radius: 50%; 
    padding: 20px; 
    box-sizing: border-box;
    background: linear-gradient(170.76deg, rgba(254, 131, 19, 0.14) 29.02%, rgba(229, 56, 4, 0.14) 75.88%); 
    cursor: pointer;
}
.custom-div{
    display: block;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-flow: wrap;
}

.popup{
    z-index: 1;
    width: 100%;
    padding: 15px 15px 0 10px;
    display: block;
    text-align: right;
    position: absolute;
    box-sizing: border-box;
}
.right{ padding-top: 5px; cursor: pointer;}
.left,.right{
    display: inline-block;
}
.left{ display: none;}
.left{
    background: white;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    vertical-align: top;
}
.left > ul{
    margin:0;
    padding: 0;
    list-style: none;
}

.left>ul>li{
    font-size: 15px;
    font-family: 'K2D';
    padding: 5px;
}

#chkPopup:checked ~ .left{
    display: inline-block;
}

.custom-col:not(:first-child):hover{
    box-shadow: 0 0 30px #ccc;
}
.card2:hover > .card-label{
    color: orangered
}

.elements button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: rgba(232, 245, 255, 1);
}

.elements button:hover{
    width: 100px;
    border-radius: 13px;
    background: linear-gradient(96.46deg, #FE8313 0%, #E53804 102.2%);
    content: 'Update';
    color: white;
    cursor: pointer;
}

.elements button > span{
    display: none;
}
.elements button:hover > span{
    display: inline;
}

.elements button:hover > img{
    filter: brightness(0) invert();
}

.email{
    border-radius: 20px;
    display: none;
    flex-direction: column;
    background: white;
    font-family: 'Poppins';
    padding: 20px;
    box-shadow: 0px 12px 31px 0px rgb(26 42 65 / 14%);
}
.email #p1{
    text-align: center;
    color: lightgray;
    font-weight: 600;
}

.email input[type=text],input[type=email],textarea{
    position: relative;
    border-radius: 2px;
    /* width: 100%; */
    margin: 10px;
    padding: 8px;
    /* width: 80%; */
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(223, 223, 223);
}
.email input[type="submit"]{
    position: relative;
    border-radius: 5px;
    /* width: 100%; */
    margin: 10px;
    background: linear-gradient(96.46deg, #FE8313 0%, #E53804 102.2%);
    padding: 8px;
    /* width: 80%; */
    box-sizing: border-box;
    border: none;
    color: white;
}
.email #p2{
    text-align: center;
    font-size: 13px;
    color: lightgray;
    font-weight: 600;
}
.email #socialicons{
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px;
}

.email #socialicons img{
    cursor: pointer;
    margin: 5px;
}

#chkQRPopup:checked ~ .qr-div{display: none;}
#chkQRPopup:checked ~ .email{display: flex;}


#delete-modal {
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    /* transition: 0.5s; */
}
.delete{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 6px 69px;
    width: 250px;
    border-radius: 12px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'K2D';
    font-weight: 600;
    z-index: 1;
}
/* .notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
  }
  
  .notification.success {
    background-color: green;
  }
  
  .notification.error {
    background-color: red;
  } */

  .alert-success {
    position: absolute;
    /* top: 0; */
    top: 60px;
    right: 18px;
    font-family: 'Poppins';
    font-size: 15px;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    border: green 1px solid;
    background-color: #A2D8AD;
}

.alert-danger {
    position: absolute;
    /* top: 0; */
    top: 60px;
    right: 18px;
    font-family: 'Poppins';
    font-size: 12px;
    border-radius: 6px;
    padding: 3px 12px;
    border: #e53804 1px solid;
    background-color: #e9abaa;
}
.main-setting{
    position: absolute;
    top: 16%;
    right: 5%;
    left: 7%;
    font-family: 'Poppins' ;
}
.inner-setting{
    background: white;
    padding: 11px 21px;
    border-radius: 10px;
    box-shadow: 0px 6px 11px 0px rgb(26 42 65 / 14%);
}

.add-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.add-img{
    height: 100%;
    width: 100%;
    padding-right: 115px;
    position: relative;
}

.add-img-icon{
    display: flex;
    justify-content: center ;
    align-items: center;
}
