 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .decor {
     text-decoration: none;
     color: black;
 }

 body {
     height: 100%;
     width: 100%;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 ul>li {
     margin: 0;
     padding: 0;
 }

 main {
     display: flex;
     height: 100%;
     width: 100%;
 }

 .sidebar {
     width: 100%;
     max-width: 300px;
     height: 100vh;
     overflow-x: hidden;
     overflow-y: auto;
     background: linear-gradient(166.05deg, #E53804, #FE8313);
     position: fixed;
     left: 0;
     top: 0;
     z-index: 2;
     width: 0px;
     transition: 0.5s;
 }

 .content {
     /* flex:1 */
     min-height: 100vh;
     width: 100%;
     max-width: 100%;
     background-color: #F6FBFF;
     margin-left: auto;
     transition: 0.5s;
 }

 .sidebar-toggle {
     position: absolute;
     top: 10px;
     right: -50px;
     font-size: 2em;
     cursor: pointer;
     z-index: 2;
 }

 #chkTogleMenu {
     display: none;
 }

 #chkTogleMenu:checked~.sidebar {
     width: 300px;
 }

 #chkTogleMenu:checked~.content {
     max-width: calc(100% - 55px);

 }

 .container-fluid {
     padding: 0;
     margin: 0;
     overflow-x: hidden;
     box-sizing: border-box;
     justify-content: center;
     display: flex;
 }

 #card-container-fluid {
     display: block;
 }

 nav {
     background-color: black;
     color: white;
     padding: 10px 10px;
 }

 .sidebar ul {
     margin: 0;
     padding: 0 5px;
 }

 .sidebar ul>li {
     text-decoration: none;
     list-style: none;
     padding: 8px 8px 17px 10px;
     font-family: 'Poppins';
     color: white;
     cursor: pointer;
     white-space: nowrap;
 }

 .sidebar ul>li:first-child {
     padding: 0;
     margin-top: 10px;
     margin-bottom: 40px;
 }

 .sidebar  img{
    margin-right: 15px;
 }

 .logout-sidebar {
    margin-top: 100px !important;
 }

 .p-3 {
     transition: 0.5s;
     padding: 20px !important;
 }

 .form-container {
     width: 100%;
     padding: 0;
     background-color: white;
     position: relative;
     border-radius: 30px;
     box-shadow: 0px 20px 40px 0px rgba(11, 30, 45, 0.06);
 }

 .mb-1 {
     margin-bottom: 10px !important;
 }

 .mb-2 {
     margin-bottom: 20px !important;
 }

 .pt-3 {
     padding-top: 30px !important;
 }

 .pb-3 {
     padding-bottom: 30px !important;
 }

 .textbox {
     width: 100%;
     padding: 5px 10px;
     font-family: 'Poppins';
     margin: 8px 0;
     box-sizing: border-box;
     border: none;
     border-bottom: 2px solid rgb(199, 198, 198);
     outline: none;
     padding-right: 30px;
 }

 .textbox::placeholder {
     color: #999;
 }

 .textbox:focus,
 .textbox:hover {
     border-color: #888;
 }

 .textbox:focus~img,
 .textbox:hover~img {
     filter: invert(30%) sepia(70%) saturate(3991%) hue-rotate(4deg) brightness(96%) contrast(95%);
 }

 .textbox~img {
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);

 }

 .btn {
     padding: 7px 40px;
     border-radius: 5px;
     border: none;
     color: white;

 }

 .btn-save {
     background: linear-gradient(45deg, rgba(254, 131, 19, 1), rgba(229, 56, 4, 1));
 }

 .btn-clear {
     background: black;
 }

 .btn-clear:hover {
     color: #fff;
     background-color: black;
 }

 .box {
     width: 100%;
     height: 100%;
     background-color: #D4E9FA;
     position: relative;
     clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
 }

 .parent {
     filter: url('#goo');
     overflow: hidden;
     transition: 0.5s;
     z-index: 1;
     padding: 0;
     display: none;
 }

 .parent2 {
     filter: url('#goo');
     overflow: hidden;
     transition: 0.5s;
     z-index: 1;
     padding: 0;
 }

 .parent2>.card-top {
     height: 280px;
 }

 .parent2>.card-top>.box2>img {
     width: 100%;
     position: relative;
 }

 #chkTogleMenu:checked~.content .parent {
     padding-right: 50px;
 }

 .row-start {
     font-family: 'K2D';
     font-weight: 600;
     font-size: 27px;
 }

 .row-start span {
     color: orangered
 }

 .custom-card {
     width: 250px;
     margin: 20px 0;
     height: 340px;
     position: relative;
     border-radius: 20px;
     background-color: #fff;
     box-shadow: 0px 0px 15px #999;
 }

 .card-bottom:hover {
     color: orangered;
 }

 .custom-card:first-child {
     margin: 0px 0;
 }

 .three-dots {
     top: 15px;
     right: 15px;
     z-index: 1;
     position: absolute;
     box-sizing: border-box;
 }

 .three-dots>label {
     display: block;
     padding: 10px;
     position: relative;
 }

 #chkOptions:checked~.options {
     display: block;
 }

 .options {
     top: 15px;
     right: 15px;
     z-index: 2;
     padding: 10px;
     display: none;
     border-radius: 10px;
     position: absolute;
     background-color: #fff;
 }

 .options>ul>li {
     text-align: left;
 }

 .options>ul>li>a {
     color: black;
     padding: 5px;
     display: block;
     text-decoration: none;
 }

 .custom-card>.card-top,
 .info-card>.card-top {
     display: block;
     width: 100%;
     height: 280px;
     overflow: hidden;
     position: relative;
     filter: url('#goo');
 }

 .box2 {
     width: 100%;
     height: 100%;
     position: relative;
     display: block;
     clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
     background-color: #D4E9FA;
 }

 .custom-card>.card-top>.box2>img,
 .info-card>.card-top>.box2>img {
     top: 50%;
     width: 100%;
     height: auto;
     position: relative;
     transform: translateY(-50%);
 }

 .custom-card>a>.card-bottom {
     padding: 10px 0;
     font-family: 'Poppins';
     font-weight: 600;
     text-align: center;
 }

 .circle-holder {
     position: relative;
     vertical-align: top;
     align-items: center;
     display: inline-flex;
     box-shadow: none;
     background-color: transparent !important;
     justify-content: center;
 }

 .circle {
     width: 243px;
     height: 243px;
     box-shadow: none;
     border-radius: 50%;
     display: inline-flex;
     padding: 30px;
     background: linear-gradient(170.76deg, rgba(254, 131, 19, 0.14) 29.02%, rgba(229, 56, 4, 0.14) 75.88%);
     cursor: pointer;
 }

 .circle>.inner-circle {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     position: relative;
     display: table-cell;
     text-align: center;
     border: 2px dashed black;
 }

 .text-middle {
     top: 50%;
     transform: translateY(-50%);
     position: relative;
 }

 .text-middle>label {
     margin-top: 10px;
     font-family: "Poppins";
     font-size: 18px;
 }

 .card-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-wrap: wrap;
 }

 /*setting*/

 .setting {
     margin: 0;
     padding: 10px;
     font-family: 'poppins';
     text-decoration: none;
     list-style-type: none;
 }

 .setting>li {
     padding: 10px;
     cursor: pointer;
 }

 .setting>li>img {
     vertical-align: top;
 }

 .modal-body {
     font-family: 'K2D';
     text-align: center;
 }

 .modal-body h2 {
     margin-bottom: 25px;
 }

 .login-modal {
     padding: 30px;
     text-align: left;
 }

 .login-modal>.btn {
     width: 100%;
 }

 .login-modal>h2 {
     text-align: left;
     margin-bottom: 0;
 }

 .mt-2 {
     margin-top: 20px !important;
 }

 .info-card {
     width: 100%;
     min-width: 100%;
     border-radius: 15px;
     ;
     background-color: white;
     box-shadow: 0px 20px 40px 0px rgba(11, 30, 45, 0.06);
 }

 .card-info {
     text-align: center;
     font-family: 'Poppins';
 }

 .btn-circle,
 .qrimg {
     width: 45px;
     height: 45px;
     padding: 6px 0px;
     border-radius: 50%;
     text-align: center;
     font-size: 12px;
     line-height: 1.42857;
     transition: 0.5s;
     vertical-align: top;
     background-color: #E8F5FF;
     white-space: nowrap;
 }

 .qrimg>img {
     margin-top: 5px;
 }

 .btn-circle>img {
     display: inline;
 }

 .btn-circle>span {
     display: inline-block;
     font-family: "Poppins";
     font-size: 14px;
 }

 .btn-circle:hover {
     width: 100px;
     border-radius: 13px;
     background: linear-gradient(96.46deg, #FE8313 0%, #E53804 102.2%);
     content: 'Update';
     color: white;
     cursor: pointer;
 }

 .btn-circle>span {
     display: none;
 }

 .btn-circle:hover>span {
     display: inline;
 }

 .btn-circle:hover>img {
     filter: brightness(0) invert(1);
 }

 .arrow-img {
     display: none;
     padding: 0 15px;
 }

 .arrow-img>img {
     width: 100%;
     position: relative;
 }

 .qr-container {
     width: 300px;
     border-radius: 15px;
     background-color: white;
     box-shadow: 0px 20px 40px 0px rgba(11, 30, 45, 0.06);
     padding: 30px;
     font-family: 'Poppins';
     text-align: center;
     color: gray;
     display: none;
 }

 .qr-container>img {
     position: relative;
     width: 100%;
     margin-bottom: 10px;
 }

 .qr-container>p {
     color: gray;
     font-size: 15px;
 }

 .qr-container>a {
     color: orangered;
 }

 .qr-container .btn-save {
     width: 100%;
 }

 .qr-container ul>li {
     width: 30px;
     margin: 0px 5px;
     display: inline-block;
 }

 .qr-container ul>li img {
     position: relative;
     width: 100%;
 }

 #chkToggleCard:checked~#info-card {
     display: none;
 }



 #chkToggleCardMobile:checked~#qrcode {
     display: block;
 }

 #chkToggleCardMobile:checked~#info-card {
     display: none;
 }

 #chkToggleCard:checked~#email {
     display: block;
 }

 #chkToggleCard:checked~#qrcode {
     display: none;
 }

 .menu-icon {
     width: 20px;
     display: inline-block;
 }

 .menu-icon img {
     filter: invert(1);
     position: relative;
     width: 100%;
 }

 .img-rel {
     position: relative;
     width: 100%;
     height: 100%;
 }





 @media only screen and (min-width: 320px) {}

 @media only screen and (min-width: 375px) {
     .p-3 {
         padding: 30px !important;
     }

     .info-card {
         width: 300px;
         min-width: 300px;
         position: relative;
     }

     .form-container {
         width: 350px;
     }

     .parent2>.card-top {
         height: 350px;
     }

     .card-container {
         justify-content: center;
     }

     .custom-card {
         width: 300px;
         margin: 20px;
     }

     .custom-card:first-child {
         margin: 20px;
     }
 }

 @media only screen and (min-width: 576px) {}

 @media only screen and (min-width: 768px) {
     .container-fluid {
         display: block;
     }

     .sidebar {
         width: 300px;
     }

     .content {
         max-width: calc(100% - 300px);
     }

     .menu-icon {
         display: none;
     }

     #chkTogleMenu:checked~.sidebar {
         width: 55px;
     }

     #chkTogleMenu:checked~.content {
         max-width: calc(100% - 55px);
     }

     .col-md-9>.row {
         display: block;
     }

     .col-md-3,
     .col-md-9,
     .col-md-5 {
         width: 100%;
         display: block !important;
     }

     .form-container {
         width: 100%;
         position: relative;
     }

     .parent {
         display: none !important;
     }

     .card-container {
         justify-content: flex-start;
     }

     .custom-card {
         width: 250px;
         height: 280px;
     }
     .custom-card > .card-top{
        height: 230px;
     }
 }

 @media only screen and (min-width: 992px) {
     .container-fluid {
         display: block;
     }

     #chkToggleCard:checked~#info-card,
     #chkToggleCardMobile:checked~#info-card {
         display: block;
     }

     #back {
         display: none;
     }

     .qrimg {
         display: none;
     }

     .qr-container,
     .info-card {
         width: 250px;
     }

     .info-card {
         min-width: 250px;
         font-size: 13px;
     }

     .info-card h2 {
         font-size: 28px;
     }

     .arrow-img {
         width: 150px;
         display: block;
     }

     #chkToggleCard:not(:checked)~#qrcode {
         display: block;
     }

     .col-md-3,
     .col-md-5,
     .col-md-9 {
         width: auto;
         display: inline-block !important;
     }

     .parent {
         display: block !important;
         width: 15%;
     }

     .parent2 {
         display: none !important;
     }

     .col-md-9 {
         position: relative;
         width: 70% !important;
     }

     .col-md-5 {
         width: 45%;
     }
 }

 @media only screen and (min-width: 1200px) {
     .p-3 {
         padding: 40px !important;
     }

     .info-card {
         width: 300px;
         min-width: 300px;
     }

     .parent {
         width: 30%;
     }

 }

 @media only screen and (min-width: 1366px) {}

 @media only screen and (min-width: 1440px) {}

 @media only screen and (min-width: 1536px) {}

 @media only screen and (min-width: 1920px) {}

 /*Notification*/

 .alert-success {
     position: absolute;
     right: 18px;
     font-family: 'Poppins';
     font-size: 15px;
     border-radius: 6px;
     padding: 5px;
     font-weight: bold;
     border: green 1px solid;
     background-color: #A2D8AD;
 }

 .alert-danger {
     position: absolute;
     right: 18px;
     font-family: 'Poppins';
     font-size: 12px;
     border-radius: 6px;
     padding: 3px 12px;
     border: #e53804 1px solid;
     background-color: #e9abaa;
 }

 .notify {
     text-align: right;
     width: 100%;
 }

 .btn-saved {
     background-color: orangered;
     border: transparent;
     color: white;
     border-radius: 5px;
     padding: 5px;
 }

 .no-card {
     text-align: center;
     font-family: 'K2D';
 }

 .decor-sidebar{
    text-decoration: none;
    color:white
 }